@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Welcome";
}

<div class="container mt-5 text-center">
    <h1 class="display-4 text-primary fw-bold">Welcome, @ViewBag.FullName!</h1>
    <p class="lead text-muted">Glad to have you in the Employee Portal.</p>

    <img src="https://media.licdn.com/dms/image/v2/D5612AQHrO5JLVEtSiA/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1690202104783?e=2147483647&v=beta&t=fjDDfk0EwpgzR4t-mdIteZOFr8dWsDkbqBzvOIleKn4"
         alt="Welcome" class="img-fluid mt-4 shadow rounded" style="max-height: 350px;" />
</div>
